<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SWOT analysis tutorial</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body>

  <header class="main-header">
    <h1>SWOT analysis tutorial</h1>

    <p id="author">Created by <strong>Edvardas Poska</strong></p>

    <img src="/static/images/einst.jpg" alt="Author picture" width="65" height="66">

    <nav>
      <a href="Basic of S.W.O.T.html">Basic of S.W.O.T</a>
      <a href="/templates/analysis-tool.html">Analysis tool</a>
      <a href="#">IT solutions and frameworks</a>
    </nav>
  </header>

  <article>
    <header>
      <h2>Overview - Understanding of S.W.O.T. Analysis</h2>

    </header>

    <p>SWOT Analysis is widely used in the business world but not exposed to many employees.
      They are used by high level management staffs. </p>

    <img src="/static/images/swot_en.svg.png" alt="SWOT schema" width="247" height="278">

  </article>


</body>

</html>